<div class="large-container">
  <h1> Welcome to your UI Library </h1>
  <p> These are your custom UI components </p>
  
  <div class="component-settings"> 
    <label for="component-color"> 
      <span> Select a primary color </span>
      <input type="color" id="component-color">
    </label>
  </div>

  <div class="color-scheme-container">
    <div class="basic-colors">
      <h3> Color Scheme </h3>
      <p> All user friendly apps require a good color scheme. </p>
      <br/>
      <h3> Basic Colors </h3>
      <p> Every website requires these essential colors </p>
      <div class="color-scheme-grid">
        <div class="color-scheme-column">
          <div class="color-preview background-black"></div>
          <span> Black </span>
        </div>

        <div class="color-scheme-column">
          <div class="color-preview background-dark-gray"></div>
          <span> Dark Gray </span>
        </div>

        <div class="color-scheme-column">
          <div class="color-preview background-light-gray"></div>
          <span> Light Gray </span>
        </div>

        <div class="color-scheme-column">
          <div class="color-preview background-white"></div>
          <span> White </span>
        </div>

        <div class="color-scheme-column">
          <div class="color-preview background-red"></div>
          <span> Red </span>
        </div>

        <div class="color-scheme-column">
          <div class="color-preview background-green"></div>
          <span> Green </span>
        </div>
      </div>
    </div>

    <div class="primary-colors">
      <h3> Primary colors </h3>
      <p> This is where you can choose what color associates with your brand </p>

      <div class="color-scheme-grid">
        <div class="color-scheme-column" data-controller="color-picker" 
          data-color-picker-callback-url-value="<%= color_scheme_path %>">
          <div class="color-preview background-primary" data-color-picker-target="preview"></div>
          <span> Primary Color </span>
          <input name="primary" type="text" data-coloris 
            data-action="color-picker#change" value="<%= @color_scheme[:primary] %>">
        </div>

        <div class="color-scheme-column">
          <div class="color-preview background-secondary"></div>
          <span> Secondary Color </span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="component-section"> 
    <h4> Button Components </h4>
    <div class="preview">
      <%= render "ui_components/buttons/preview" %>
    </div>
    <div class="code" data-controller="clipboard" data-clipboard-text-value="<%= File.read("app/views/ui_components/buttons/preview.html") %>">
      <%= link_to "#", data: { action: "clipboard#copy" }, class: "copy-code" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon" data-clipboard-target="success">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <span> Copy Code </span>
      <% end %>
      <%= render "ui_components/buttons/code" %>
    </div>
  </div>
</div>