<div class="large-container">
  <h1> Welcome to your UI Library </h1>
  <p> These are your custom UI components </p>

  <div class="color-scheme-container">
    <div class="basic-colors">
      <div class="color-scheme-text-container">
        <h3> Color Scheme </h3>
        <p> All user friendly apps require a good color scheme. </p>
        <br/>
        <h3> Basic Colors </h3>
        <p> Every website requires these essential colors </p>
      </div>
      <div class="color-scheme-grid">
        <%= render ColorSchemePreviewComponent.new("black", @color_scheme.black) %>

        <div class="color-scheme-column">
          <div class="color-preview background-dark-gray"></div>
          <span> Dark Gray </span>
        </div>

        <div class="color-scheme-column">
          <div class="color-preview background-light-gray"></div>
          <span> Light Gray </span>
        </div>

        <%= render ColorSchemePreviewComponent.new("white", @color_scheme.white) %>
        <%= render ColorSchemePreviewComponent.new("red", @color_scheme.black) %>
        <%= render ColorSchemePreviewComponent.new("green", @color_scheme.green) %>
      </div>
    </div>

    <div class="primary-colors">
      <div class="color-scheme-text-container">
        <h3> Primary colors </h3>
        <p> This is where you can choose what color associates with your brand </p>
      </div>

      <div class="color-scheme-grid">
        <%= render ColorSchemePreviewComponent.new("primary", @color_scheme.primary) %>
        <%= render ColorSchemePreviewComponent.new("secondary", @color_scheme.secondary) %>
      </div>
    </div>
  </div>
  
  <div class="component-section"> 
    <h4> Button Components </h4>
    <div class="preview">
      <%= render "ui_components/buttons/preview" %>
    </div>
    <div class="code" data-controller="clipboard" data-clipboard-text-value="<%= File.read("app/views/ui_components/buttons/preview.html") %>">
      <%= link_to "#", data: { action: "clipboard#copy" }, class: "copy-code" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
        </svg>

        <span> Copy Code </span>
      <% end %>
      <%= render "ui_components/buttons/code" %>
    </div>
  </div>
</div>